.row {
  max-width: 100%;
}

.container {
  margin: 0em;
}

.header {
  background-color: #f4512c;
  color: #ffffff;
  font-weight: bold;
  font-family: "PT Mono";
  font-size: 12pt;
  margin-bottom: 2em;
}

.header .button {
  background-color: #f4512c;
  margin-top: 1.5em;
  margin-bottom: 1em;
  text-align: right;
}

.header a {
  color: #ffffff;
  text-decoration: none;
}

.header a.underline {
  text-decoration: underline;
}

.header span {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
}

hr {
  max-width: 90%;
}

.episode {
  color: #333333;
}

.episode .date {
  font-size: 8pt;
  height: 4em;
  font-family: "Open Sans";
}

.episode .title {
  height: 3em;
}

.episode .title a {
  color: #f4512c;
}

.episode .title h1 {
  font-size: 17pt;
  font-weight: bold;
  font-family: "Open Sans";
}

.episode .player {
  height: 5em;
}

.episode audio {
  width: 100%;
}

.episode .shownotes {
  font-size: 11pt;
  font-family: "Open Sans";
}

.episode .shownotes h1,
.episode .shownotes h2,
.episode .shownotes h3,
.episode .shownotes h4,
.episode .shownotes h5,
.episode .shownotes h6 {
  font-size: 11pt;
  font-weight: bold;
  font-family: "Open Sans";
}

.episode .shownotes a {
  color: #f4512c;
}

.episode .shownotes ul {
  padding-left: 0em;
  margin-left: 3em;
}

.episode .shownotes ul ul {
  padding-left: 0em;
  margin-left: 1.5em;
}

.episode .share {
  height: 5em;
}

.episode .share a {
  color: #f4512c;
  font-family: "PT Mono";
  font-weight: bold;
  font-size: 12pt;
}

.youtube {
  max-width: 700px;
  margin: 0px auto;
}

.youtube > div {
  position: relative;
  padding-bottom: 45%;
  height: 0px;
}

.youtube iframe {
  position: absolute;
  top: 0px;
  left: 10%;
  width: 80%;
  height: 100%;
}

div.full-height {
   min-height:100vh;
}

.speakers {
  margin-bottom: 3em;
}

.speakers a {
  color: #f4512c;
  font-family: "PT Mono";
  font-weight: bold;
  font-size: 12pt;
}

.speakers .title {
  height: 4em;
}

.speakers .title h1 {
  font-size: 17pt;
  font-weight: bold;
  font-family: "Open Sans";
}

.speakers .description {
  font-size: 11pt;
  font-family: "Open Sans";
  margin-bottom: 2em;
}

.speakers .name {
  margin-top: 2em;
  margin-bottom: 4em;
}

.footer {
  background-color: #bbbbbb;
  color: #333333;
  font-family: "Open Sans";
  font-size: 11pt;
  margin-top: 2em;
}

.footer .row {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.footer a {
  color: #333333;
}

