---
---

{% include head.html %}

{% include header.html underline_episodes=true %}

{% for episode in site.episodes reversed %}

<div class="episode row align-middle">
  <div class="columns small-10 small-offset-1">
    <div class="row date align-middle text-left">
      <div class="columns small-12">
        {{ episode.date | date: "%Y-%m-%d" }}
      </div>
    </div>
    <div class="row title align-middle text-left">
      <div class="columns small-12">
        <h1>{{ episode.title }}</h1>
      </div>
    </div>
    <div class="row text-left">
      <div class="columns small-12 shownotes">
        {{ episode.description | markdownify }}
      </div>
    </div>
    <div class="row share align-middle text-center">
      <div class="columns small-12">
        Ściągnij Overcast iTunes
      </div>
    </div>
<hr/>
  </div>
</div>


{% endfor %}

{% include footer.html %}

{% include feet.html %}
