<div class="footer row align-middle text-center">
  <div class="columns small-12">
    <div class="row align-middle">
      <div class="columns small-12 medium-6">
        © Cafe Nerd 2017 All right reserved
      </div>
      <div class="columns small-12 medium-6">
        <div class="row align-middle">

          <div class="columns small-6 medium-5">
            <a href="{{ site.data.metadata.itunes }}">
              <img src="/img/apple_podcasts.svg" />
            </a>
          </div>
          
          <div class="columns small-2 medium-2">
            <a href="{{ site.data.metadata.facebook }}">
              <span class="fa fa-facebook-square fa-lg"></span>
            </a>
          </div>
          
          <div class="columns small-2 medium-2">
            <a href="{{ site.data.metadata.twitter }}">
              <span class="fa fa-twitter-square fa-lg"></span>
            </a>
          </div>
          
          <div class="columns small-2 medium-2">
            <a href="/rss.xml">
              <span class="fa fa-rss-square fa-lg"></span>
            </a>
          </div>
          
          <div class="columns small-0 medium-1"></div>
        
        </div>
      </div>
    </div>
  </div>
</div>
