<div class="header row align-middle text-center">
  <div class="columns small-4">
    <div class="row">
      <div class="columns small-2"></div>
      <div class="columns small-8">
        <img src="/img/logo.png">
      </div>
      <div class="columns small-2"></div>
    </div>
  </div>
  <div class="columns small-2">
    <a href=""
       {% if include.underline_episodes %}
       class="underline"
       {% endif %}
    >
      ODCINKI
    </a>
  </div>
  <div class="columns small-2">
    <a href="">
      CO TO JEST
    </a>
  </div>
  <div class="columns small-2">
    <a href="">
      KONTAKT
    </a>
  </div>
  <div class="columns small-2">
    <a>F</a>
    <a>T</a>
    <a>R</a>
  </div>
</div>
