<div class="header row align-middle text-center">
  <div class="columns small-4 medium-4">
    <div class="row">
      <div class="columns small-offset-1 small-11 medium-offset-3 large-offset-4 medium-7 large-4">
        <a href="/">
          <img src="/img/logo_big.png">
        </a>
      </div>
    </div>
  </div>

  <div class="columns small-8 medium-8">
    <div class="row small-only-text-right">
      <div class="columns button small-11 medium-2">
        <a href="/"
           {% if include.underline_episodes %}
           class="underline"
           {% endif %}
        >
          ODCINKI
        </a>
      </div>
      <div class="columns button small-11 medium-3">
        <a href="/about"
           {% if include.underline_about %}
           class="underline"
           {% endif %}
        >
          CO TO JEST?
        </a>
      </div>
      <div class="columns button small-11 medium-offset-1 medium-6">

        <div class="row align-middle small-only-text-right">
          <div class="columns small-offset-1 small-11 medium-offset-0 medium-12">
            <div class="row">
              <div class="columns small-offset-1 small-2 medium-offset-0">
                <a href="{{ site.data.metadata.youtube }}">
                  <span class="fa fa-youtube-square fa-lg"></span>
                </a>
              </div>
              <div class="columns small-2">
                <a href="mailto: {{ site.data.metadata.email }}">
                  <span class="fa fa-envelope fa-lg"></span>
                </a>
              </div>
              <div class="columns small-2">
                <a href="{{ site.data.metadata.facebook }}">
                  <span class="fa fa-facebook-square fa-lg"></span>
                </a>
              </div>
              <div class="columns small-2">
                <a href="{{ site.data.metadata.twitter }}">
                  <span class="fa fa-twitter-square fa-lg"></span>
                </a>
              </div>
              <div class="columns small-2">
                <a href="/rss.xml">
                  <span class="fa fa-rss-square fa-lg"></span>
                </a>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

